//@import "math";
@debug percentage(0.2);
@debug unit(300px);

// todo dry.
$fg: #404040;
$bg: #F2F2F2;
$flat: #EEE;
//
// Tier colors
$bronze: #AD8A56;
$silver: #C0C0C0;
$gold: #D4AF37;
$platinum: #E5E4E2;

// another DRY
$mobile-breakpoint: 1080px;

.responsive-img {
    max-width: 100%;
    height: auto;
}

#sponsoring ul {
  list-style: none;
}


// data
$tiers: (
  bronze: (
    'color': $bronze,
    'scale': 1.309
  ),
  silver: (
    'color': $silver,
    'scale': 1.618,
    'max-columns': 3
  ),
  gold: (
    'color': $gold,
    'scale': 1.927,
    'max-columns': 2
  ),
  platinum: (
    'color': $platinum,
    'max-columns': 1,
    'scale': 2.237
  )
);
// could calculate scale inside mixin, using 'relative magnitude'

// limit max-width?
//$base-width: 325px;

// generate grid customizations for the tiers
@mixin cards($name, $color: #FF0000, $scale: 1, $max-columns: 0) {

  @debug $name;
  @debug $scale;
  @debug 1px * $scale;
  @debug 1rem * $scale;
  $top-margin: 0.7rem * $scale;
  $side-margin: 0.35rem * $scale;

  @if $max-columns == 0 {
    .grid.#{$name} {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .#{$name} > li {
      margin-top: 0.7rem * $scale!important;
      border: none;
    }
  } @else {
    .grid.#{$name} {
      grid-template-columns: repeat(#{$max-columns}, minmax(200px, 1fr));
    }
    .#{$name} > li {
      margin: $top-margin $side-margin!important;
      border-color: $color;

      @if $name == platinum {
        background-color: #fff;
      } @else {
        background-color: scale-color($color, $lightness: 20%);
      }
    }
  }

  .#{$name} > li {
    max-width: 44vw * $scale;
  }

  .card.#{$name} {
    margin-top: 0.7rem * $scale!important;
    border-color: $color;
    background-color: scale-color($color, $lightness: 20%);
  }

  .#{$name} > .card-image {
    background-color: $flat;
  }

  .#{$name} > .card-title, .#{$name} > li > .card-title {
    font-size: #{$scale}em;
    padding: 0.6rem * $scale;
  }

  .#{$name} > .card-body, .#{$name} > li > .card-body {
    border-color: $color;
    border-top: solid $color
  }
}

.grid {
  list-style: none;
  background: $bg;
  color: $fg;
  @media screen and (max-width: $mobile-breakpoint){
      grid-template-columns: minmax(200px, 1fr)!important;
      margin: unset;
      align-items: center;
      justify-content: center;
  }
  display: grid;
  gap: 1rem;
  > li {
    @media screen and (max-width: $mobile-breakpoint){
      align-items: center;
      justify-content: center;
    }
    border-radius: 0.2rem;
    border-style: solid;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
  }
}

@each $name, $attr in $tiers {
  @include cards($name, $attr...)
}

.card.platinum, .platinum > li {
  border-width: thick;
}
