$fg: #404040;
$bg: #F2F2F2;

// Tier colors
$bronze: #AD8A56;
$silver: #C0C0C0;
$gold: #D4AF37;
$platinum: #E5E4E2;

$card-break-1: 620px; // 1 column
$card-break-2: 900px; // 2 column (except plat)
//             > that    3 column (except plat)

.sponsors {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;

  @media screen and (max-width: $card-break-1){
    grid-template-columns: minmax(200px, 400px)!important;
  }
  @media screen and (max-width: $card-break-2){
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

}

.sponsors.platinum {
  grid-template-columns: minmax(300px, 1fr)!important;
}

.sponsor-card {
  background-color: $bg;
  border-radius: 0.1rem;
  color: $fg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .sponsor-title {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    img {
      max-height: 100px;
      width: auto;
    }
  }
  .sponsor-description {
    margin: 0.5rem;
  }
}

.sponsor-card a {
  color: $fg!important;
}

.platinum .sponsor-card {
  border-top: solid $platinum;
  .sponsor-title {
    img {
      max-height: 140px;
    }
  }
}
.gold .sponsor-card {
  border-top: solid $gold;
  .sponsor-title {
    img {
      max-height: 110px;
    }
  }
}
.silver .sponsor-card {
  border-top: solid $silver;
  .sponsor-title {
    img {
      max-height: 85px;
    }
  }
}
.bronze .sponsor-card {
  background-color: unset;
  .sponsor-title {
    img {
      max-height: 65px;
    }
  }
}
