#content {
  padding-top: 60px;
  background-color: #5277c3;
}

.container {
  margin-bottom: 3em;
}

#content .container {
  /* background-color: white; */
  background-color: white;
  padding: 2rem 4rem 2rem 4rem;
}

@media only screen and (max-width: 499px) {
  #content .container {
    padding: 2rem;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

h1 {
  font-size: 7rem;
  margin-bottom: 3rem;
  word-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
}

h1,
h2,
h3 {
  color: #616161;
}

#nixcon-logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
  width: 200px;
}

.icon-block .fa {
  font-size: 4rem;
}

.nixos-dark {
  background-color: #5277c3;
}

.nixos-dark-text {
  color: #5277c3;
}

.nixos-light {
  background-color: #7ebae4;
}

a {
  font-weight: 500;
}

#nav-mobile {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #999999;
}

#content a,
#content .headline {
  color: #5277c3;
}

footer a {
  color: white;
}

a,
nav a,
nav ul a {
  color: #5277c3;
  font-weight: 500;
}

nav ul a {
  padding: 0 0.5rem;
}

#content a:hover,
footer a:hover {
  text-decoration: underline;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  margin-right: 10px;
}

.header {
  font-weight: 500;
}

h5.header {
  font-size: 1.5rem;
}

footer.page-footer {
  background-color: #616161;
  color: white;
  font-size: 1.3rem;
}

footer .container {
  margin-bottom: 0px;
}

footer .row {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.nixos-sponsor {
  padding: 20px 0px;
}

@media only screen and (min-width: 993px) {
  .nixos-sponsor .m6 .card {
    height: 410px;
  }

  .nixos-sponsor .m4 .card {
    height: 480px;
  }

  .card {
    height: 285px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .nixos-sponsor .m6 .card {
    height: 430px;
  }

  .nixos-sponsor .m4 .card {
    height: 580px;
  }

  .card {
    height: 355px;
  }
}

.collapsible-header {
  font-weight: 500;
}

.collapsible-header .time {
  width: 8rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

.collapsible-header i {
  float: right;
}

.nixos-sponsor .card .card-image img {
  width: auto;
  max-height: 100px;
  padding: 24px 24px 0px 24px;
}

p.footnote {
  font-size: 0.9em;
}

#topics h4 {
  padding-top: 0;
  margin-top: 0;
}

#participants .card-image {
  max-height: 60%;
}

#hotels .card-content,
#participants .card-content,
#participants .card-action,
#participants .card-reveal,
#topics .card-content {
  padding: 10px;
}

#participants .card-title,
#participants i,
#participants .card-action {
  font-size: 16px;
}

.ribbon {
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.9);
  height: 22px;
  width: 114px;
  top: -30px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.ribbon-speaker {
  transform-origin: 0 100%;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  right: -37.972px;
  background-color: #f76c5e;
}

.ribbon-orga {
  transform-origin: 100% 100%;
  transform: rotateZ(315deg);
  -webkit-transform: rotateZ(315deg);
  -moz-transform: rotateZ(315deg);
  -o-transform: rotateZ(315deg);
  left: -37.972px;
  background-color: #f5dd90;
}

b {
  color: #616161;
}

.card ul {
  margin-top: 0px;
}

.map {
  width: 100%;
  height: 550px;
}

.map_wrapper {
  position: relative;
}

.map_overlay {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 9;
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
}
