// TODO: move fonts to local folder
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500;700&family=Montserrat:wght@400;700&display=swap');

$blue: #7EBAE4;
$blue-dark: #5277C3;
$white: #FAFAFA;
$black: #404040;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
  line-height: 1.65rem;
  font-weight: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  margin: 2.75rem 0 1.05rem;
  font-weight: 600;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

a {
  color: $blue-dark;
}

nav {
  background: $white;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  overflow: hidden;
  margin: 1rem auto;
  ul { 
    list-style-type: none;
    margin: 0 1rem;
    width: auto;
    > li {
      float: left;
      > a {
        display: block;
        text-decoration: none;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        &:hover {
          background-color: $blue-dark;
          color: white;
        }
      }
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

footer {
  background-color: $blue-dark;
  color: $white;
  padding: 1rem;
  a {color: $white;}
}

main {
  ul, ol {
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.section-hero {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: fit-content;
  box-sizing: border-box;
  margin: auto;
  display: grid;
  color: $blue-dark;
  grid-template-columns: min-content max-content;
  .hero-text {
    h1 {
      font-size: 6rem;
      margin-bottom: 0;
    }
    .hero-text-sub {
      font-size: 2rem;
    }
    .hero-text-badge {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      margin-left: -1rem;
      margin-top: 1.05rem;
      border-radius: 2rem;
      background-color: $blue-dark;
      width: max-content;
      color: $white;
    }
  }
  .hero-logo {
    align-items: center;
    img {
      height: 6rem;
      width: 6rem;
    }
  }
}

svg {
  &.divider {
    width: 100%;
    &.divider-top {
      vertical-align:top;
    }
    &.divider-bottom {
      vertical-align:bottom;
    }
  }
}

section {
  display: inline-block;
  width: 100%;
  &.section-dark {
    background-color: $blue-dark;
    color: $white;
    a {
      color: $white;
    }
  }
}