<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NixCon 2019 - A conference about Nix and NixOS</title>
  <meta name="description" content="NixCon 2019 - A conference about Nix and NixOS">
  <meta name="keywords" content="london, linux, nix, nixos, conference">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/default.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" media="screen,projection"
  />
  <script defer src="js/jquery-3.2.1.min.js"></script>
  <script defer src="materialize/js/materialize.min.js"></script>
  <script defer src="js/index.js"></script>
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />

  <link rel="stylesheet" type="text/css" href="https://tickets.nixcon.org/nixcon/2019/widget/v1.css">
  <script type="text/javascript" src="https://tickets.nixcon.org/widget/v1.en.js" async></script>

</head>

<body>


  <nav class="white pinned" style="z-index: 8999;">
    <div class="nav-wrapper container">
      <a href="#" data-activates="mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/#program">Program</a>
        </li>
        <li>
            <a href="/#call-for-participation">CfP</a>
        </li>
        <li>
            <a href="/#hackday">Hackday</a>
        </li>
        <li>
            <a href="/#location">Location</a>
        </li>
        <li>
            <a href="/#registration">Registration</a>
        </li>
        <li>
            <a href="https://tickets.nixcon.org/nixcon/2019/page/faq/" target="_blank">FAQ</a>
        </li>
        <li>
            <a href="/#contact">Contact us</a>
        </li>
        <li>
            <a href="/#sponsors">Sponsors</a>
        </li>
        <li>
            <a href="http://nixcon2018.org/">2018</a>
        </li>
        <li>
            <a href="http://nixcon2017.org/">2017</a>
        </li>
        <li>
            <a href="https://nixos.github.io/nixcon/2015/index.html">2015</a>
        </li>
        <li>
            <a href="https://twitter.com/nixconf">
                <i class="fa fa-twitter fa-fw"></i>
            </a>
        </li>
      </ul>
      <ul id="mobile" class="side-nav">
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/#program">Program</a>
          </li>
          <li>
              <a href="/#call-for-participation">CfP</a>
          </li>
          <li>
              <a href="/#hackday">Hackday</a>
          </li>
          <li>
              <a href="/#location">Location</a>
          </li>
          <li>
              <a href="/#registration">Registration</a>
          </li>
          <li>
            <a href="https://tickets.nixcon.org/nixcon/2019/page/faq/" target="_blank">FAQ</a>
        </li>
        <li>
            <a href="/#contact">Contact us</a>
        </li>
        <li>
          <a href="/#sponsors">Sponsors</a>
        </li>
        <li>
          <a href="http://nixcon2018.org/">2018</a>
        </li>
        <li>
          <a href="http://nixcon2017.org/">2017</a>
        </li>
        <li>
          <a href="https://nixos.github.io/nixcon/2015/index.html">2015</a>
        </li>
        <li>
          <a href="https://twitter.com/nixconf">
            <i class="fa fa-twitter fa-fw"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <a href="https://github.com/nixcon/2019.nixcon.org">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9000;" src="images/fork-me-on-github.png" alt="Fork me on GitHub"
      data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
  </a>

  <!--h1>$title$</h1-->
  <div id="content">
    <br/> $body$
    <br/>
  </div>


  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s6">
          Contact:
          <a class="contact-email" href="mail:orgateam(at)nixcon.org">orgateam (at) nixcon.org</a>
        </div>
        <div class="col l6 s6">
          <a class="grey-text text-lighten-4 right" href="code-of-conduct.html">Code of Conduct</a>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
